html, body {
    background-color: grey;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins";
}

body {
    background-image: url(../images/bookshelves-seamless-pattern-illustration-free-vector.jpg);
    background-repeat: repeat;
    background-size: 200px;
}
